# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Python compiled files
*.pyc
*.pyo
*cpython-*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
myenv/
venv/
ENV/
env/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local configuration
.env
.env.local

# Database files
*.sqlite3
*.dbf
*.pyc

# Elastic search local data
elastic-start-local/data/
rpa_sus/data/rd/*
rpa_sus/data/pa/*

# Next.js
.next/
out/
node_modules/