.button-group {
    display: flex;
    justify-content: center;
    padding: 12px;
    margin: 0 auto; /* centralizar o componente */
  }
  
.custom-button {
    background-color: transparent;
    color: black;
    border-radius: 15px;
    padding: 10px 20px;
    width: 15%;
    font-size: 16px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    cursor: pointer;
}

.custom-button > p {
    color: black;
}
  
.custom-button:hover {
    background-color: #f0f0f0;
    color: black;
    border-radius: 15px;
    padding: 10px 20px;
    width: 15%;
    font-size: 16px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    cursor: pointer;
}